.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.drag-n-drop {
  /* padding: 0.5rem; */
  display: grid;
  /* gap: 0.5rem; */
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vh);
  /* grid-template-columns: repeat(auto-fill, 300px); */
}

.dnd-group {
  background-color: #49505e;
}

.dnd-item {
  min-height: 50vh;
  background-color: #393d45;
}

.current {
  background-color: #282c34;
}

.dnd-item video {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.TopLeft {
  position: absolute;
  left: 0;
  top: 0;
}

.BottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.TopRight {
  position: absolute;
  right: 0;
  top: 0;
}

.BottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
}
